# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
.next
build
out

# Environment files
.env
.env.local
.env.production
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
*.swp
*.swo

# Expo
.expo
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Turbo
.turbo

# Prisma
packages/db/prisma/migrations/*.sql.bak
